:root {
    --mainColor: #10cab7;
    --main-transition: 0.3s;
    --background-color: #f6f6f6;
    --section-padding: 50px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 15px;
    margin: auto;
}

.special-heading {
    text-align: center;
    margin: 30px;
}

.special-heading h2 {
    margin: 0;
    font-size: 90px;
    color: #d4d4d4;
    transition: var(--main-transition);
}

.special-heading p {
    font-size: 20px;
    margin: -25px;
    color: #919090;
}

@media (max-width:767px) {
    .special-heading h2 {
        font-size: 60px;
    }

    .special-heading p {
        margin: -20px;
    }
}

@media screen and (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media screen and (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media screen and (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 70px;
}

.container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.container .links .icon span {
    background-color: #333;
    height: 2px;
    width: 100%;
    margin-bottom: 6px;
}

.container .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-transition);
}

.container .links {
    position: relative;
}

.container .links:hover ul {
    opacity: 1;
    visibility: visible;
}

.container .links:hover .icon :nth-child(2) {
    width: 100%;
}

.container .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    min-width: 200px;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    opacity: 0;
    visibility: hidden;
    transition: var(--main-transition);
    z-index: 1;
}

.container .links ul::before {
    content: "";
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent var(--background-color) transparent;
    position: absolute;
    top: -25px;
    right: 0;
}

.container .links ul li {
    padding: 15px;
    border-bottom: 2px solid rgb(226, 223, 223);
}

.container .links ul li a {
    text-decoration: none;
    color: #333;
    transition: var(--main-transition);
}

.container .links ul li:hover a {
    padding-left: 25px;
}

.landing {
    background-image: url(../imgs/landing.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 58px);
    position: relative;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.intro-text h1 {
    margin: 0;
    font-size: 50px;
    color: var(--mainColor);
    font-weight: bold;
}

.intro-text p {
    font-size: 20px;
    max-width: 400px;
}

.feature {
    background-color: var(--background-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.feature .container .feat {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.feature .container .feat i {
    font-size: 30px;
    color: var(--mainColor);
}

.feature .container .feat h1 {
    font-weight: 800;
}

.feature .container .feat p {
    color: #928e8e;
    line-height: 1.8;
}

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding-bottom: 100px;
}

.services .container .col {
    margin-top: 100px;
}

.services .container .col .card {
    display: flex;
    margin-top: 15px;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    transition: var(--main-transition);
}

.services .container .col .card:hover {
    box-shadow: 2px 2px 5px var(--mainColor);
    transform: translateY(-5px);
}

.services .container .col .card i {
    color: var(--mainColor);
    font-size: 30px;
}

.services .container .col .card .service h3 {
    margin-top: 10px;
    padding-left: 15px;
}

.services .container .col .card .service p {
    color: black;
    line-height: 1.8;
}

@media (max-width:767px) {
    .services .container .col .card {
        flex-direction: column;
        text-align: center;
    }

    .services .container .col .card i {
        align-self: center;
    }

    .services .container .col {
        margin-top: 0;
    }
}

.services .container .col .image {
    position: relative;
    margin-top: 40px;
}

.services .container .col .image img {
    width: 260px;
    height: 400px;
}

.services .container .col .image::before {
    content: '';
    background-color: rgb(28, 2, 52);
    width: 100px;
    height: 440px;
    position: absolute;
    top: -20px;
    right: 15%;
    z-index: -1;
}

@media (max-width:1199px) {
    .services .container .col .image {
        display: none;
    }
}

.portfolio {
    background-color: var(--background-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.portfolio-cards .card {
    background-color: #FFF;
    border-radius: 10px;
    transition: var(--main-transition);
}

.portfolio-cards .card:hover {
    box-shadow: 2px 2px 5px var(--mainColor);
    transform: translateY(-5px);
}

.portfolio-cards .card h2 {
    padding: 10px;
}

.portfolio-cards .card p {
    padding: 10px;
    color: #928e8e;
    line-height: 1.8;
}

.portfolio-cards .project-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 260px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.portfolio-cards div:first-child .project-image {
    background-image: url(../imgs/project1.jpg);
}

.portfolio-cards div:nth-child(2) .project-image {
    background-image: url(../imgs/project2.jpg);
}

.portfolio-cards div:last-child .project-image {
    background-image: url(../imgs/project3.jpg);
}

.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.about .container .about-image {
    background-image: url(../imgs/about.jpg);
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin-top: 50px;
}

.about .container p:first-of-type {
    font-weight: 800;
    text-align: center;
    padding: 40px;
    position: relative;
    line-height: 1.8;
}

.about .container .text::after {
    content: '';
    background-color: var(--mainColor);
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 25%;
    position: absolute;
}

.about .container p:last-child {
    text-align: center;
    padding: 40px;
    color: #919090;
    line-height: 1.8;
}

.contact {
    background-color: var(--background-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .container p {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #2c4755;
}

.contact .container a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: var(--mainColor);
    font-weight: 800;
}

.contact .container div {
    text-align: center;
    padding: 20px;
}

@media (max-width:767px) {

    .contact .container a,
    .contact .container p {
        font-size: 20px;
    }
}

.footer {
    background-color: #2c4755;
}

.footer .container p {
    color: white;
    text-align: center;
    font-size: 20px;
}

.footer .container p span {
    color: var(--mainColor);
    font-weight: bold;

}

